.icon{
  content: '';
  position: absolute;
  right: 24px;
  width: 40px;
  height: 40px;
  top: 24px;
}
.line-up{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 23px;
  height: 11px;
  background: url('../../assets/img/dashboard/line-up.png') no-repeat;
  background-size: contain;
}
.line-down{
  content: '';
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  width: 23px;
  height: 11px;
  background: url('../../assets/img/dashboard/line-down.png') no-repeat;
  background-size: contain;
}
.earn-content{
  background: url('../../assets/img/dashboard/bg.png') no-repeat top center;
  background-size: cover;
  padding-top: 20px;
  .content{
    margin: 0 15px;
  }
  .earn-total{
    > h1 {
      font-size: 18px;
      font-weight: 600;
      color: #FFFFFF;
    }
    ul{
      margin-top: 15px;
      li{
        background: linear-gradient(270deg, #0B3042 0%, #0C3C3E 100%);
        border-radius: 20px;
        border: 1px solid rgba(1,249,223,0.1);
        flex: 0 0 232px;
        padding: 0 20px;
        line-height: normal;
        position: relative;
        box-sizing: border-box;
        &.total-trading{
          margin-left: 0;
          flex: 1 1 auto;
          padding-top: 24px;
          padding-bottom: 24px;
          position: relative;
          margin-bottom: 10px;
          &::after{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            background: url('../../assets/img/dashboard/total-trading.png') no-repeat;
            background-size: 279px auto;
            background-position: 56px 7px;
          }
          .price{
            font-size: 16px;
            font-weight: 500;
            border-radius: 20px;
            padding: 7px 12px 7px 28px;
            position: relative;
            display: inline-block;
            &.red{
              color: #F03737;
              background: rgba(240,55,55,0.1);
              &::before{
                position: absolute;
                content: '';
                width: 18px;
                height: 18px;
                background: url('../../assets/img/dashboard/up.png') no-repeat;
                background-size: contain;
                left: 6px;
                top: 50%;
                transform: translate(0, -50%);
              }
            }
            &.green{
              color: #00C253;
              background: rgba(0,194,83,0.1);
              position: relative;
              &::before{
                position: absolute;
                content: '';
                width: 18px;
                height: 18px;
                background: url('../../assets/img/dashboard/down.png') no-repeat;
                background-size: contain;
                left: 6px;
                top: 50%;
                transform: translate(0, -50%);
              }
            }
          }
        }
        .desc{
          color: rgba(255, 255, 255, 0.6);
          font-size: 12px;
        }
        h1{
          font-size: 20px;
          font-family: Outfit-Bold, Outfit;
          font-weight: bold;
          color: #FFFFFF;
          margin: 16px 0 22px 0;
        }
        h2{
          font-size: 16px;
          font-family: Outfit-Medium, Outfit;
          font-weight: 500;
          color: #FFFFFF;
          padding: 10px 0;
        }
        .h2-price{
          font-size: 16px;
          font-weight: 400;
          color: #FFFFFF;
          position: relative;
          padding-left: 26px;
          display: inline-block;
         /*  &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 16px;
            background: url('../../assets/img/dashboard/red-down.png') no-repeat;
            background-size: contain;
            left: 0;
          } */
        }
        &.asset{
          width: 168px;
          height: 164px;
          display: inline-block;
          vertical-align: top;
          padding-top: 72px;
          text-align: center;
          &.red{
            .h2-price{
              color: #F03737;
              &::before {
                content: '';
                position: absolute;
                width: 22px;
                height: 10px;
                background: url('../../assets/img/dashboard/line-down.png') no-repeat;
                background-size: contain;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
              }
            }
          }
          &::before{
            content: '';
            position: absolute;
            width: 56px;
            height: 60px;
            background: url('../../assets/img/dashboard/u.png') no-repeat;
            background-size: contain;
            top: 20px;
            left: 50%;
            transform: translate(-50%, 0);
          }
          
        }
        &.gas-fee{
          width: 168px;
          height: 164px;
          display: inline-block;
          vertical-align: top;
          padding-top: 72px;
          text-align: center;
          margin-left: 9px;
          &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            background: url('../../assets/img/dashboard/dao.png') no-repeat;
            background-size: contain;
            top: 20px;
            left: 50%;
            transform: translate(-50%, 0);
          }
          &.green{
            .h2-price{
              color: #00C253;
              &::after{
                content: '';
                position: absolute;
                width: 22px;
                height: 10px;
                background: url('../../assets/img/dashboard/line-up.png') no-repeat;
                background-size: contain;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
              }
            }
          }
        }
      }
    }
  }
  .pairs{
    margin-top: 25px;
    h1{
      font-size: 18px;
      font-family: Outfit-SemiBold, Outfit;
      font-weight: 600;
      color: #FFFFFF;
    }
    .pairs-list{
      margin-top: 15px;
      li{
        position: relative;
        background: rgba(255,255,255,0.04);
        border-radius: 20px;
        border: 1px solid rgba(1,249,223,0.1);
        box-sizing: border-box;
        padding: 24px 20px;
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        > div{
          font-size: 14px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6);
        }
        .price{
          font-size: 18px;
          font-weight: 500;
          color: #FFFFFF;
          margin: 10px 0 14px 0;
        }
        .h-change{
          .change{
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
            padding: 0 7px 0 30px;
            position: relative;
            &.red{
              color: #F03737;
              &::before{
                @extend .line-down;
              }
            }
            &.green{
              color: #00C253;
              &::before{
                @extend .line-up;
              }
            }
          }
          .h-change-time{
            font-size: 12px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        &.ETH{
          &::before{
            @extend .icon;
            background: url('../../assets/img/dashboard/eth.png') no-repeat;
            background-size: contain;
          }
        }
        &.BTC{
          &::before{
            @extend .icon;
            background: url('../../assets/img/dashboard/btc.png') no-repeat;
            background-size: contain;
          }
        }
        &.ARB{
          &::before{
            @extend .icon;
            background: url('../../assets/img/dashboard/arbitrunm.png') no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .compositio{
    margin-top: 25px;
    position: relative;
    h1{
      font-size: 18px;
      font-weight: 600;
      color: #FFFFFF;
    }
    .arp{
      font-size: 14px;
      font-weight: 400;
      color: #FFFFFF;
      background: #122C38;
      border-radius: 20px;
      border: 1px solid rgba(1,249,223,0.1);
      height: 26px;
      padding-left: 12px;
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      margin-top: 20px;
      span{
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        &.green{
          border-radius: 20px;
          background-color: #00C253;
          height: 26px;
          line-height: 26px;
          padding: 0 16px;
          margin-left: 12px;
        }
        &.red{
          border-radius: 20px;
          background-color: #F03737;
          height: 26px;
          line-height: 26px;
          padding: 0 16px;
          margin-left: 12px;
        }
      }
    }
    .add_wallet{
      position: absolute;
      right: 0;
      top: 0;
      img{
        width: 28px;
      }
      span{
        position: absolute;
        background: url('../../assets/img/dashboard/tips-bg.png') no-repeat;
        background-size: contain;
        width: 88px;
        height: 35px;
        left: -60px;
        top: 100%;
        font-size: 14px;
        font-family: Outfit-Light, Outfit;
        font-weight: 300;
        color: #FFFFFF;
        text-align: center;
        padding-top: 13px;
        box-sizing: border-box;
      }
    }
    ul.list{
      margin-top: 30px;
      li{
        height: 253px;
        background: url('../../assets/img/dashboard/com-bg.png') no-repeat;
        background-size: contain;
        box-sizing: border-box;
        padding: 20px;
        position: relative;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        &.USDT{
          &::before{
            @extend .com-icon;
            background: url('../../assets/img/dashboard/btc-c.png') no-repeat;
            background-size: contain;
          }
        }
        &.WETH{
          &::before{
            @extend .com-icon;
            background: url('../../assets/img/dashboard/eth-c.png') no-repeat;
            background-size: contain;
          }
        }
        &.USDT{
          &::before{
            @extend .com-icon;
            background: url('../../assets/img/dashboard/usdt-c.png') no-repeat;
            background-size: contain;
          }
        }
        h2{
          font-size: 20px;
          font-weight: bold;
          color: #FFFFFF;
        }
        .progress{
          margin-top: 18px;
          height: 110px;
          position: relative;
          :global{
            .ant-progress .ant-progress-inner{
              height: 110px !important;
              width: 110px !important;
            }
          }
          &.green{
            &::after{
              @extend .pro-line;
              background: url('../../assets/img/dashboard/green-line.png') no-repeat;
              background-size: contain;
            }
          }
          &.red{
            &::after{
              @extend .pro-line;
              background: url('../../assets/img/dashboard/red-line.png') no-repeat;
              background-size: contain;
            }
          }
          h3{
            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF;
          }
          p{
            font-size: 14px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
            width: 100%;
            margin-top: 8px;
          }
          .chart-box{
            width: 90px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 40px;
          }
        }
        & > p{
          font-size: 14px;
          font-weight: 300;
          color: #FFFFFF;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          &.first{
            margin-top: 20px;
          }
          span{
            &:first-child{
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }
  }
}
.com-icon{
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  z-index: 3;
  right: 22px;
  top: -5px;
}

.pro-line{
  content: '';
  position: absolute;
  width: 87px;
  height: 29px;
  right: 20px;
  top: 42px;
}